@model int 

@{
	var currentCulture = CultureInfo.CurrentCulture.Name;
	ViewData["Title"] = currentCulture == "en" ? "Order Confirmation" : "Подтверждение Заказа";

}

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center"> @localizer["OrderPlaced"]</h1>
		@localizer["OrderNumber"] : @Model <br /><br />
		<img src="~/images/lawn_leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		@localizer["OrderSuccessful"] <br />
	</div>
</div>
